main {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: cadetblue;
  margin: 0;
  width: 100%;
}

button {
  color: white;
}

header {
  text-align: center;
  background-color: lightblue;
  margin: 0;

  padding: 0;
}

section {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

label {
  padding: 1.2rem;
  background-color: lightblue;
}

div {
  background-color: yellow;
  float: right;
}
