.slider {
  display: flex;
  margin: auto;
  padding: 100px;
  flex-direction: column;
}

div {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(170, 170, 170);
  height: 100%;
  width: 100%;
}

header {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  background-color: black;
  color: white;
  padding: 39px 0;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}
/* 
.flex {
  display: flex;
  justify-content: space-around;
} */

/* 
section {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

label {
  padding: 1.2rem;
  background-color: rgb(251, 255, 1);
}



/* .values {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
} */

/*
@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
} */

label {
  padding-bottom: 50px;
}
